@import url(bootstrap.min.css);
/*@import url(bootstrap-theme.min.css);*/
@import url(all.min.css);
@import url(https://fonts.googleapis.com/css?family=Lobster);
/*@import url(all.min.css);*/



h1,h2,h3,h4,h5,h6{
    font-family: 'Lobster', cursive;
}

body{
    padding-top: 70px;
}
#my-carousel .carousel-caption{
    bottom: 145px;
}